
  h1{
      color:#36639E;
      font-size:30px;
      font-weight:bolder
  }

h5{
    color:#A5A5A5;
}

  .features {
    padding-top: 20px;
  }

  label{
      font-weight:bolder;

  }
  
  input[type=text]{
      height:46px;
      border: solid 2px #58CFE6;
      box-shadow: 1px 1px 4px #C3DFE4;
      border-radius: 4px;
      opacity: 1;
  }

  #submit-btn {
    padding: 5px;
    width: 40%;
    background-color:#FF6F5E;
    color: white;
    height: 43px;
    box-shadow: none;
    border-radius:4px;
    box-shadow: 0px 3px 7px #C9E4E9;
  }

  ::placeholder{
      font-size:14px;
      font-weight:bolder
  }

  @media (min-width: 992px){
    #right {
      margin-left:100px
    }
    #image{
        display:none
    }

    footer {
        width: 100%;
        text-align: center;
        height: 40px;
        background-color: #E6E6E6;
        color:#383838;
        font-size:13px;
        margin-top:100px;
        border-radius:5px;
        
      }
  }

  @media (max-width: 990px){

    footer {
        width: 100%;
        text-align: center;
        height: 60px;
        background-color: #E6E6E6;
        color:#383838;
        font-size:13px;
        margin-top:100px;
        border-radius:5px;
        
      }

    #image{
        height:400px;
        width:350px
    }

  }
